@font-face {
  font-family: work-sans;
  font-weight: 100;
  src: url(work-sans/WorkSans-Thin.woff);
}

@font-face {
  font-family: work-sans;
  src: url(work-sans/WorkSans-Regular.woff);
}

@font-face {
  font-family: work-sans;
  font-weight: 700;
  src: url(work-sans/WorkSans-SemiBold.woff);
}

@font-face {
  font-family: work-sans;
  font-weight: 900;
  src: url(work-sans/WorkSans-ExtraBold.woff);
}